body{
  background-color: lightgreen;
}

header{
  text-align: center;
}

section{
  align-content: center;
}
section#float_left{
  float: left;
  list-style-position: inside;
}

img{
  width: 325px;
  height: auto;
  border: 1px solid black;
  background-color: lightgray;
  }
.centerid{
  display: block;
  margin: 0 auto;
  text-align: center;
}
div{
  : center;
}
nav li {

  display: inline;
  width: 200px;
  margin: 12px;
  
}
nav ul li a:hover{
  color: purple;
}
.linkid{
  font-family: sans-serif;
  text-align: center;
}
