body{
  background-color: lightgreen;
}

header{
  text-align: center;
}

section{
  align-content: center;
}
section#float_left{
  float: left;
  list-style-position: inside;
}

div{
  : center;
}
nav li {

  display: inline;
  width: 10%;
  margin: 0.5%;
  
}
nav ul li a:hover{
  color: purple;
}
a{
  font-family: sans-serif;
  text-align: center;
  margin:1%;
  list-style-position: inside;
}


@media (min-width: 1400px) {
  img{
    width: 20%;
    height: auto;
    border: 1px solid black;
    background-color: lightgray;
  }

  .left_col{
    float: left;
    width:60%;
    margin-right: 1%;
    margin-left: 1%;
  }
  .right_col{
    float: left;
    width: 30%;
    margin-right: 1%;
    margin-left: 1%;
  }

}
@media (min-width: 1200px) and (max-width: 1399px)  {
  img{
    width: 40%;
    height: auto;
    border: 1px solid black;
    background-color: lightgray;
  }
  .left_col{
    float: left;
    width:60%;
    margin-right: 1%;
    margin-left: 1%;
  }
  .right_col{
    float: left;
    width: 30%;
    margin-right: 1%;
    margin-left: 1%;
  }

}


@media (max-width: 1299px) {
  img{
    width: 45%;
    height: auto;
    border: 1px solid black;
    background-color: lightgray;
  }

  .left_col{
    float: none;
    width:95%;
    margin-right: 1%;
    margin-left: 1%;
  }
  .right_col{
    float: none;
    width: 95%;
    margin-right: 1%;
    margin-left: 1%;
  }
  #ulid{
    list-style-type: none;
    position: relative;
    overflow: auto;
    width:100%
  }
  nav li {
    display: block;
    width: 10%;
    margin: 0.5%;

  }

}