img{
    width: 35%;
    height: auto
}
table{
    width: 100%;
    border: 1px solid black;

}
body{
    text-align: left;
    padding-left: 100px;
    background-color: lightgreen;
}
ul, ol{
    list-style-position: inside;
}
section{
    border: 1px solid black;
}

header,footer {
    text-align: center;
}
nav li {

    display: inline;
    width: 200px;
    margin: 12px;
}