table {
  width: 100%;
  height: 198px;
  background-color: lightgreen;

}

div {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  background-color: lightgray;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;

}

img{
  width: 300px;
  height: auto;
  border: 1px solid black;
  background-color: lightgray;

  }

td {
  padding: 15px;
}

p {
  font-size: large;
}


body{
  margin:0px;
}
.centerid{
  text-align: center;
}
.linkid{
  font-family: sans-serif;
}
ul, ol{
  list-style-position: inside;
}
